langchain-core
langchain-groq
langgraph
langgraph-checkpoint-sqlite
aiosqlite==0.19.0
groq
edge-tts
aiohttp
qdrant-client
sentence-transformers
pydantic-settings
pydantic
fastapi
uvicorn[standard]
httpx
python-multipart
