langchain-core
langchain-groq
langgraph
langgraph-checkpoint-sqlite
groq
edge-tts
aiohttp
qdrant-client
sentence-transformers
pydantic-settings
pydantic
fastapi
uvicorn[standard]
httpx
python-multipart
